<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <button type="button"
    [routerLink]="['/contacts']"
    class="btn btn-default"
    aria-label="Logo Button">
    <span aria-hidden="true">
      <i class="fas fa-users-cog fa-2x"></i>
    </span>
  </button>
  <span class="vertical-divider"></span>
  <h5 class="my-0 mr-md-auto font-weight-normal">Contact Manager</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <button type="button" 
      [routerLink]="['/new']"
      class="btn btn-outline-primary" 
      aria-label="Logo Button">
      <span aria-hidden="true">
        <i class="fas fa-plus"></i> Add Contact
      </span>
    </button>
  </nav>
  <a class="btn btn-outline-primary" [routerLink]="['/login']">Login</a>
</div>