<div class="container">
  <div class="row">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h6 class="border-bottom border-gray pb-2 mb-0">Contact List</h6>
      <fsa-contact-list (click)="contactSelected(contact);" *ngFor="let contact of contacts">
        <ng-template #contactTmp>
          <fsa-contact [display]="displayPhone" [contact]="contact"></fsa-contact>
        </ng-template>
      </fsa-contact-list>
      <div class="form-check">
        <input type="checkbox"
          class="form-check-input"
          (change)="checkChanged($event.target.checked)"
          [checked]="displayPhone">
        <label class="form-check-label">Show Phone</label>
      </div>
    </div>
    <fsa-contact-display *ngIf="contact" [contact]="contact"></fsa-contact-display>
  </div>
</div>