<div class="container">
  <div class="row">
    <div class="col-md-12 order-md-1">
      
      <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="newContact">
        <strong>A new contact added!</strong> Name: {{newContact.name}}.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="newContact = null;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form class="needs-validation" [class.loading]="loading" novalidate>
        
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="" name="firstName" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="" name="lastName" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>          
        </div>

        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" placeholder="1234 Main St" name="address" required>
            <div class="invalid-feedback">
              Please enter your address.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="ariaCode">Phone</label>
            <input type="text" class="form-control" maxlength="5" id="ariaCode" placeholder="(###)" name="ariaCode" required>
            <div class="invalid-feedback">
              Aria Code required.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="prefix">&nbsp;</label>
            <input type="text" class="form-control" maxlength="3" id="prefix" placeholder="###" name="prefix" required>
            <div class="invalid-feedback">
              Prefix Number required.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="lineNumber">&nbsp;</label>
            <input type="text" class="form-control" maxlength="4" id="lineNumber" placeholder="####" name="lineNumber" required>
            <div class="invalid-feedback">
              Line Number required.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="photo">Photo URL</label>
            <input type="text" class="form-control" id="photo" placeholder="http://cdn.com/profile.jpg" name="photo" required>
            <div class="invalid-feedback">
              Please enter your profile photo.
            </div>
          </div>
        </div>

        <button class="btn btn-primary btn-lg btn-block"> Submit</button>

      </form>
    </div>
  </div>
</div>